In [1]:
from qgrid import QgridWidget
import numpy as np
import pandas as pd

def create_df():
    return pd.DataFrame({
        'A' : 1.,
        'Date' : pd.Timestamp('20130102'),
        'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
        'D' : np.array([3] * 4,dtype='int32'),
        'E' : pd.Categorical(["test","train","foo","bar"]),
        'F' : ['foo', 'bar', 'buzz', 'fox']
})

In [2]:
df = create_df()

In [3]:
df

     A    C  D       Date      E     F
0  1.0  1.0  3 2013-01-02   test   foo
1  1.0  1.0  3 2013-01-02  train   bar
2  1.0  1.0  3 2013-01-02    foo  buzz
3  1.0  1.0  3 2013-01-02    bar   fox

In [4]:
qw = QgridWidget(df=df, show_toolbar=True)

In [5]:
qw

A Jupyter Widget

In [6]:
df2 = qw.get_changed_df()

In [7]:
df2

     A    C  D       Date      E     F
0  1.0  1.0  3 2013-01-02   test   foo
1  1.0  1.0  3 2013-01-02  train   bar
2  1.0  1.0  3 2013-01-02    foo  buzz
3  1.0  1.0  3 2013-01-02    bar   fox